<header>
	<img alt="SolarNetwork" src="{{ site.baseurl }}/images/logo.svg" width="250" height="35" />
</header>
<section class="nav heading">
	<ul>
		<li
			{% if page.nav-selection == 'home' %}
			class="active"
			{% endif %}
			><a href="{{ site.baseurl }}/index.html">Home</a></li>
		<li
			{% if page.nav-selection == 'news' %}
			class="active"
			{% endif %}
			><a href="{{ site.baseurl }}/news/index.html">News</a></li>
		<li
			{% if page.nav-selection == 'enthusiast' %}
			class="active"
			{% endif %}
			><a href="{{ site.baseurl }}/enthusiast.html">Enthusiast</a></li>
		<li
			{% if page.nav-selection == 'developers' %}
			class="active"
			{% endif %}
			><a href="{{ site.baseurl }}/developers.html">Developers</a></li>
		<li
			{% if page.nav-selection == 'history' %}
			class="active"
			{% endif %}
			><a href="{{ site.baseurl }}/history.html">History</a></li>
	</ul>
</section>
